.meet-dev {
  border-radius: 20px;
  background-color: #dffbed;
}
.dev-img img {
  /* width: 300px; */
  border-radius: 7px 100px 7px 100px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  border-bottom: 10px solid #08765b;
  border-right: 10px solid #08765b;
  transition: 0.3s 0s ease-in-out;
}
.dev-img img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  -webkit-filter: saturate(100%);
  filter: saturate(140%);
}
.tech-used {
  background-color: #d8fdd8;
  border-radius: 20px;
}
.tech-box {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.tech-box i {
  font-size: 65px;
}
.tech-box:hover {
  box-shadow: 0px 0px 10px darkolivegreen;
  i {
    color: #08765b;
  }
}
