.footer p {
  color: #c0c0c0;
  text-decoration: none;
  margin-bottom: 0 !important;
}
.footer p:active,
.footer p:hover {
  color: #dffbdf;
  font-weight: 500;
  cursor: pointer;
  text-shadow: 0px 0px 20px #08765b;
}
.footer-logo {
  background: linear-gradient(to right, #f7f8fd, #99e3d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Bricolage Grotesque', serif;
  font-weight: 900;
}
